<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="${applicationName}"
        android:label="V2RAY STK"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

        </activity>

        <service
            android:name=".StkVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">

            <intent-filter>
                <action
                    android:name="android.net.VpnService"/>
            </intent-filter>

        </service>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>

</manifest>
